ul.breadcrumbs {
    list-style-type: none;
    color: $text-muted;
    font-weight: 600;
    font-size: 12px;
    padding: 0;
    margin: 0px;

    li {
        display: inline-block;

        &:last-child {
            &:after {
                content: ""
            }
        }

        &:after {
            content: ">";
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}
