/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.55);
    border-radius: 500px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(15, 23, 42);
    border-radius: 500px;
}


