$color1: #f6f7f9;
;
$color2: rgb(241, 240, 240);
$color3: rgb(232, 232, 232);
$text-default: rgba(0, 0, 0, 0.81);
$text-highlight: #0f172a;
$text-muted: rgb(1, 13, 44);
$default-btn: rgb(214, 214, 214);
$border-color: #ececec;
$classes: (
    default: rgb(107, 148, 246),
    glass: rgba(182, 172, 172, 0.3),
    primary: rgb(107, 148, 246),
    success: rgb(107, 148, 246),
    warning: rgb(104, 82, 28),
    danger: rgb(210, 91, 91),
);
$radius: 8px;

$trigger_mobile: 1000px;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "normalize.css";
@import "./grid";
@import "utils";
@import "sidebar";
@import "form";
@import "breadcrumbs";
@import "title";
@import "table";
@import "paginator";
@import "scrollbar";
@import "badge";
@import "btn";
@import "card";
@import "alert";
@import "switch";
@import "tabs";
@import "modal";
@import "user-profile";
@import "pie";

@import "custom";
