$color1: #0b0b15;
;
$color2: rgb(15, 15, 27);
$color3: rgb(15, 15, 27);
$text-default: #ffffff;
$text-highlight: #374e80;
$text-muted: rgb(146, 156, 183);
$default-btn: rgb(34, 40, 56);
$border-color: #14141f;
$classes: (
    default: rgb(31, 36, 51),
    glass: rgba(0, 0, 0, 0.3),
    primary: rgb(90, 98, 209),
    success: rgb(90, 98, 209),
    warning: rgb(104, 82, 28),
    danger: rgb(210, 91, 91),
);
$radius: 8px;

$trigger_mobile: 1000px;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "normalize.css";
@import "./grid";
@import "utils";
@import "sidebar";
@import "form";
@import "breadcrumbs";
@import "title";
@import "table";
@import "paginator";
@import "scrollbar";
@import "badge";
@import "btn";
@import "card";
@import "alert";
@import "switch";
@import "tabs";
@import "modal";
@import "user-profile";
@import "pie";

@import "custom";
